# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo

# ============================================================
# Virtual Environment
# ============================================================

venv/
.venv/
env/

# ============================================================
# Dataset
# ============================================================

data/

# ============================================================
# Trained Models
# Large model files are kept locally
# ============================================================

models/*.keras
models/*.h5
models/*.hdf5
models/*.pkl

# ============================================================
# Jupyter / Python temporary files
# ============================================================

.ipynb_checkpoints/

# ============================================================
# VS Code
# ============================================================

.vscode/

# ============================================================
# Operating System
# ============================================================

.DS_Store
Thumbs.db

# ============================================================
# TensorFlow
# ============================================================

*.tfevents*

# ============================================================
# Logs
# ============================================================

*.log